<div>
  <div class="container-fluid">
    <div class="row">
      <div class='table-responsive' style="width:200px; position:fixed; height:100%;">
        <table class='table'
               *ngIf='notes && notes.length'>
          <tbody>
          <tr *ngFor="let note of notes; let i = index" (click)="increaseNum()">
            <td><a [routerLink]="['/notes', note.id]">{{note.id}}</a></td>
            <td>{{note.title}}</td>
            <td>{{note.lead}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12" style="padding-left: 215px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
