<h1 class="page-header">{{title}}</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="spacer">
          <div style="padding:10px;margin:10px; ">
            <div class="form-group">
              <label class="control-label">User name</label>
              <input type="text" class="form-control" [(ngModel)]="user.userName" name="userName">
            </div>
            <div class="form-group">
              <label class="control-label required">Password</label>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
            </div>
            <div class="form-group">
              <label class="control-label required">Password Confirmation</label>
              <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmPassword">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="spacer" style="padding-left: 0;">
  <button value="Register" class="btn btn-primary" (click)="registerUser($event)">Register</button>
</div>

<div *ngIf="message && !isError" class="spacer alert alert-success">
  {{message}}
</div>

<div *ngIf="message && isError" class="spacer alert alert-danger">
  {{message}}
</div>
