<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">XNote - The Ultimate Note Taking App</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a [routerLink]="['/home/home']" class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/notes']" class="nav-link" href="#">Notes</a>
    </li>
  </ul>

  <ul class="nav navbar-nav" [hidden]="!authenticationData?.isAuthenticated">
    <li><a [routerLink]="['/products/product-maintenance']" class="nav-link" href="#">Product Maintenance</a></li>
    <li><a [routerLink]="['/products/product-inquiry']" class="nav-link" href="#">Product Inquiry</a></li>
    <li><a [routerLink]="['/customers/customer-maintenance']">Customer Maintenance</a></li>
    <li><a [routerLink]="['/customers/customer-inquiry']">Customer Inquiry</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right" [hidden]="authenticationData && authenticationData.isAuthenticated">
    <li><a [routerLink]="['/home/register']">Register</a></li>
    <li><a [routerLink]="['/home/login']">Login</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right" [hidden]="!authenticationData?.isAuthenticated">
    <li><a [routerLink]="['/user/user-profile']">{{authenticationData?.userName}}</a></li>
    <li><a style="cursor:pointer" (click)="logout()">Logout</a></li>
  </ul>

</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>


<div *ngIf="blockUI">
  <div class="in modal-backdrop spinner-overlay"></div>
  <div class="spinner-message-container" aria-live="assertive" aria-atomic="true">
    <div class="loading-message">
      <img src="{{imagesDirectory}}/loading-spinner-grey.gif" class="rotate90">
      <span>&nbsp;&nbsp;please wait...</span>
    </div>

  </div>
</div>


