<div *ngIf="this.note">
  <div class="text-secondary">
    <span>{{note.owner}}'s note</span>
    <span>created at {{note.created | date: 'dd.MM.yyyy hh.mm.ss'}}</span>
    <span>modified at {{note.modified | date: 'dd.MM.yyyy hh.mm.ss'}}</span>
  </div>
  <hr />
  <div class="form-group">
    <div class="spacer">
      <div class="form-group">
        <textarea class="form-control mb-1" placeholder="Enter note title" style="font-size: x-large" [ngModel]="note.title" (change)="onTitleChange(title)" #title rows="1"></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Enter note content" [ngModel]="note.content" (change)="onContentChange(content)" #content style="overflow: hidden;" rows="10"></textarea>
      </div>
    </div>
  </div>
</div>

