<div style="position: relative" >
  <a href="#" [routerLink]="['/notes', note.id]" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{note.title}}</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">{{note.lead}}</p>
  </a>
  <div style="position: absolute; top: 5px; right: 5px"
       (mouseenter)="showCopyIcon(note.id)"
       (mouseleave)="hideCopyIcon(note.id)">
    <a class="btn btn-link btn-sm" style="padding-right: 0;" data-toggle="tooltip" [title]="note.shareLink ? 'Share note' : 'Cancel sharing'" (click)="shareNote()">
      <i class="fa fa-2x" [ngClass]="note.shareLink ? 'fa-share-alt-square' : 'fa-share-alt'" aria-hidden="true"></i>
    </a>
    <a *ngIf="shareUrl" style="position: absolute; left: 0; top: 30px; cursor: pointer;"
       ngxClipboard [cbContent]="shareUrl">Copy URL</a>
    <a class="btn btn-link btn-sm" style="padding-left: 0" data-toggle="tooltip" title="Delete note" (click)="deleteNote()">
      <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
    </a>
  </div>
</div>

